<%= link_to "Back to Ask >", ask_path %>
<div class="container">
  <h1>Stupid coach</h1>
  <form action="/answer" data-turbo="false">
    <input type="text" name="question" value="<%= params[:question] %>" placeholder="Any stupid question?">
    <input type="submit" value="Ask!">
  </form>
  <p><span>Stupid Coach answer :</span><br><br><%= @answer %></p>
</div>
